<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="image-home">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-1 col-lg-10 col-lg-offset-1">
      <div class="panel panel-default intro">
        <div class="panel-body text-center">
          <iframe width="560" height="315" src="//www.youtube.com/embed/Esm2OBCcDFI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <div class="row">
            <div class="text-center">
              <button type="button" class="btn btn-default launch"><h1>Question 1</h1></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- /*Question 1*/ -->


  <div class="panel panel-default question5">
    <div class="panel-body text-center">
      <h1>Un pays voué à l'instabilité ?</h1><br>
      <hr>
      <h1>De quand date l'indépendance en Centrafrique ?</h1>
      <div class="btn-group">
        <button type="button" class="btn btn-default reponse-1960"><h3>1960</h3></button>
        <button type="button" class="btn btn-default reponse-1956"><h3>1956</h3></button>
        <button type="button" class="btn btn-default reponse-1962"><h3>1962</h3></button>
      </div>
    </div>
  </div>

  <div class="panel panel-default faux5">
    <div class="panel-body">
      <h1 class=" wrong text-center">Mauvaise Réponse !</h1>
      <div class="media">
        <a class="pull-left thumbnail">
          <%= image_tag "" =%> 
        </a>
        <button type="button" class="btn btn-primary suivant5"><h1>Suivant</h1></button> 
        <button type="button" class="btn btn-primary video5"><h1>Vidéo</h1></button> 
      </div>
      <h2> Comme vu précédemment, cette ancienne colonie française est en crise chronique depuis son indépendance en 1960. Le pays est en proie depuis des années aux bandes armées et criminelles. Entre or, uranium, pétroles et autres ressources, la Centrafrique est un pays potentiellement très riche et dont les gisements représentent un enjeu dans le conflit en cours, surtout les diamants. " Le diamant dominant les industries extractives, avec 323 575 carats officiellement exportés en 2011. Officiellement, car plus de la moitié de la production diamantifère échappe au contrôle de l’État, alimentant la contrebande. L’uranium, en revanche, n’est pas encore exploité."(source L'Humanité, 12 Décembre, 2013)</h2>
    </div>
  </div>

  <div class="panel panel-default vrai5">
    <div class="panel-body">
      <h1 class="wright text-center">Bonne Réponse !</h1>
      <div class="media">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item">
                  <%= image_tag 'colonie.jpg' %>
                </div>
                <div class="item active">
                  <%= image_tag 'retournes.jpg' %>
                </div>
                <div class="item">
                  <%= image_tag 'carte.jpg' %>
                  <div class="container">
                    <div class="carousel-caption">
                    </div>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary suivant5"><h1>Suivant</h1></button> 
        <button type="button" class="btn btn-primary video5"><h1>Vidéo</h1></button> 
      </div>
      <h2>Comme vu précédemment, cette ancienne colonie française est en crise chronique depuis son indépendance en 1960. Le pays est en proie depuis des années aux bandes armées et criminelles. Entre or, uranium, pétroles et autres ressources, la Centrafrique est un pays potentiellement très riche et dont les gisements représentent un enjeu dans le conflit en cours, surtout les diamants. " Le diamant dominant les industries extractives, avec 323 575 carats officiellement exportés en 2011. Officiellement, car plus de la moitié de la production diamantifère échappe au contrôle de l’État, alimentant la contrebande. L’uranium, en revanche, n’est pas encore exploité."(source L'Humanité, 12 Décembre, 2013)</h2>
    </div>
  </div>

  <div class="panel panel-default video-richesse">
    <div class="panel-body text-center">  
      <iframe width='460' height='259' frameborder='0' marginheight ='0' marginwidth='0' scrolling ='no' src='http://player.ina.fr/player/embed/CAB7901536101/1/1b0bd203fbcd702f9bc9b10ac3d0fc21/460/259/0/08db52' ></iframe><br><button type="button" class="btn btn-default suivant-video5"><h1>Suivant</h1></button>
    </div>
  </div>

</div>


<div class="panel panel-default question1">
  <div class="panel-body text-center">
    <h1> Coups d'Etat successifs</h1><br>
    <hr>
    <h1>Comment s'appellait le dernier Président de la République Centrafricaine ?</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-default reponse-bongo"><h3>Omar Bongo</h3></button>
      <button type="button" class="btn btn-default reponse-patasse"><h3>Ange-Felix Patassé</h3></button>
      <button type="button" class="btn btn-default reponse-bozize"><h3>François Bozizé</h3></button>
    </div>
  </div>
</div>

<div class="panel panel-default vrai1">
  <div class="panel-body text-center">
    <h1 class="wright text-center">Bonne réponse !</h1>
    <div class="media text-center">
      <%= image_tag "bozize.jpg" =%><br>
      <button type="button" class="btn btn-default suivant1"><h1>Suivant</h1></button> 
      <button type="button" class="btn btn-groupn-default video1"><h1>Vidéo</h1></button> 
    </div>
    <h2>En 2001, François Bozizé, l'ancien chef d'état-major centrafricain est limogé pour une tentative de coup d'Etat. Menacé d'arrestation en novembre de la même année, il avait fui avec ses partisans vers le Tchad. Le 15 mars 2003, après une série de troubles et malgré l'intervention de la communauté internationale à travers les casques bleus de la MINURCA, le général François Bozizé parvient cette fois à prendre le pouvoir par la force. Il renverse ainsi Ange-Felix Patassé qui avait survécu à six tentatives de coup d'Etat au cours des six dernières années...</h2>
  </div>
</div>

<div class="panel panel-default faux1">
  <div class="panel-body">
    <h1 class="wrong text-center">Mauvaise Réponse !</h1>
    <div class="panel-body">
      <div class="media text-center">
        <%= image_tag "bozize.jpg" =%><br> 
        <button type="button" class="btn btn-default suivant1"><h1>Suivant</h1></button> 
        <button type="button" class="btn btn-default video1"><h1>Voir vidéo</h1></button> 
      </div>
      <h2>En 2001, François Bozizé, l'ancien chef d'état-major centrafricain est limogé pour une tentative de coup d'Etat. Menacé d'arrestation en novembre de la même année, il avait fui avec ses partisans vers le Tchad. Le 15 mars 2003, après une série de troubles et malgré l'intervention de la communauté internationale à travers les casques bleus de la MINURCA, le général François Bozizé parvient cette fois à prendre le pouvoir par la force. Il renverse ainsi Ange-Felix Patassé qui avait survécu à six tentatives de coup d'Etat au cours des six dernières années...</h2>
    </div>
  </div>
</div>

<div class="panel panel-default video-bozize">
  <div class="panel-body text-center">  
    <iframe width='460' height='259' frameborder='0' marginheight ='0' marginwidth='0' scrolling ='no' src='http://player.ina.fr/player/embed/2250800001047/1/1b0bd203fbcd702f9bc9b10ac3d0fc21/460/259/0/ff6600' ></iframe><br><button type="button" class="btn btn-default suivant-video1"><h1>Suivant</h1></button>
  </div>
</div>

<!-- Question 2 -->

<div class="panel panel-default question2">
  <div class="panel-body text-center">
    <h1>La destabilisation de l'extérieur</h1><br>
    <hr>
    <h1>Comment s'appelle le groupe rebel qui a renversé le Président Bozizé :</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-default reponse-seleka"><h3>La Seleka</h3></button>
      <button type="button" class="btn btn-default reponse-ms13"><h3>Le MS 13</h3></button>
      <button type="button" class="btn btn-default reponse-pachtoune"><h3> Les Pachtouns </h3></button>
    </div>
  </div>
</div>

<div class="panel panel-default vrai2">
  <div class="panel-body">
    <h1 class="text-center wright">Bonne réponse !</h1>
    <div class="media text-center">
      <%= image_tag "seleka-leader.jpg" =%> <br>
      <button type="button" class="btn btn-default suivant2"><h1>Suivant</h1></button> 
    </div>
    <h2>Le 24 mars 2013, au tour de François Bozizé de subir le même sort. Les rebelles de la coalition Seleka s'emparent de Bangui et Bozizé s'enfuit. Michel Djotodia s'auto-proclame président de la République centrafricaine. Très vite des exactions contre les chrétiens et leurs lieux de cultes ont lieu. Cette connotation pseudo-religieuse de leurs méfaits s’explique par plusieurs éléments. Les rebels centrafricains qui ont créé la Séléka sont peu nombreux. Ils ont donc noué des alliances avec des hommes issus des rébellions du Darfour marqués par une idéologie violente à l'encontre de tout ce qui diffère de leur intérêt, de leur vision, et pas uniquement religieuse.</h2>
  </div>
</div>

<div class="panel panel-default faux2">
  <div class="panel-body">
    <h1 class="text-center wrong">Mauvaise Réponse !</h1>
    <div class="media text-center">
      <a class="pull-left thumbnail">
        <%= image_tag "seleka-leader.jpg" =%> 
      </a>
    </div><br>
    <button type="button" class="btn btn-default suivant2"><h1>Suivant</h1></button>
    <h2>Le 24 mars 2013, les rebelles de la coalition Seleka s'emparent de Bangui et Bozizé s'enfuit. Michel Djotodia s'auto-proclame président de la République centrafricaine. Très vite des exactions contre les chrétiens et leurs lieux de cultes ont lieu. Cette connotation pseudo-religieuse de leurs méfaits s’explique par plusieurs éléments. Les rebels centrafricains qui ont créé la Séléka sont peu nombreux. Ils ont donc noué des alliances avec des hommes issus des rébellions du Darfour marqués par une idéologie violente à l'encontre de tout ce qui diffère de leurs intérêts, de leur vision et pas uniquement religieuse.</h2>
  </div>
</div>

<div class="panel panel-default question2-ter">
  <div class="panel-body text-center">
    <h1>Une guerre (vraiment) religieuse ?</h1><br>
    <hr>
    <h1>La Centrafrique est un pays à majorité :</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-default reponse-muslim"><h3>Musulmane</h3></button>
      <button type="button" class="btn btn-default reponse-chretien"><h3>Chrétienne</h3></button>
      <button type="button" class="btn btn-default reponse-animiste"><h3> Animiste </h3></button>
    </div>
  </div>
</div>

<div class="panel panel-default vrai2-ter">
  <div class="panel-body">
    <h1 class="text-center wright">Bonne réponse !</h1>
    <div class="media">
      <a class="pull-left thumbnail">
        <%= image_tag "balaka.jpg" =%> 
      </a>
    </div>
    <h2>Les prémices de cette guerre que certains définissent comme confessionnelle, remontent à la prise de pouvoir par Michel Djotodia à la tête de la Seleka (vu précédemment). Ce groupe rebel s'en est pris à des édifices religieux chrétiens et aux populations chrétiennes. S'en est suivi quelques mois plus tard une vague de représailles violentes et armées contre les populations musulmanes par ceux qui se sont baptisés "anti-balakas". Essayons de comprendre maintenant.</h2><br>
    <ul class="pager">
      <li id="next1-vrai"><a>Next</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default vrai2-ter2">
  <div class="panel-body">
    <h2>La Centrafrique compte une majorité de confession chrétienne : Protestantisme (51,4%), Catholicisme (28,9%), Islam (10,1%), d'après des chiffres du ministère du Plan et de l'Economie en 2003. <br>
      Comme souvent lorsqu'un conflit se déroule en Afrique, l'aspect éthnique et/ou religieux est tout de suite privilégié pour expliquer le conflit. Or cet angle de vue dissimule d'autre éléments de compréhension.<br>
      Pour qu'il y ait un aspect purement religieux dans un conflit, cela sous-entend que les hautes autorités religieuses prennent part aux violences. Le jeudi 13 février 2014, Mgr Dieudonné Nzapalainga, archevêque de Bangui (où se déroulaient la majeure partie des exactions) a dénoncé la "soif du pouvoir" animant ceux qui poussent les jeunes des milices anti-balaka dans les actuels massacres de musulmans en Centrafrique, réaffirmant qu'on ne peut se dire chrétien et "tuer son frère". L'Eglise évangélique a également condamnée ces exactions :  "L’Eglise condamne toutes les formes de violence et ne peut en aucun cas être associée à de tels actes." <br>
      Ensuite, sur le terrain, en plein milieu des exactions des aides entre musulmans et chrétiens ont été observés. Des musulmans ont trouvé refuge dans les églises et réciproquement des chrétiens dans des mosquées.<br>
      <div class="media text-center">
      <%= image_tag "archeveque.jpg" =%> 
      </div>  
      *Photo : Mgr Dieudonné Nzapalainga, archevêque de Bangui et Oumar Kobine Layama, président de la Communauté islamique centrafricaine

    </h2>  
    <ul class="pager">
      <li id="preview2-vrai"><a>Previous</a></li>
      <li id="next2-vrai"><a>Next</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default vrai2-ter3">
  <div class="panel-body"> 
    <h2>Les "anti-balaka", comme expliqué précedemment, sont une milice constituée à la suite des exactions commises par la Séléka contre les chrétiens. Certains pensent que leur nom signifie « anti-machette » car en langue Sangho, la langue majoritaire en Centrafrique, « balaka » signifie « machette ». Mais dans une interview, un membre de ce groupe a expliqué qu’anti-Balaka s’écrivait en réalité « anti-balles AK ». Référence aux amulettes utilisés par ces combattants pour se protéger des tirs de Kalachnikov. Mettant en lumière leur pratique animiste.</h2><br>
    <ul class="pager">
      <li id="preview3-vrai"><a>Previous</a></li>
      <li id="next3-vrai"><a>Next</a></li>
    </ul>
  </div>
</div>

<div class="panel panel-default vrai2-ter4">
  <div class="panel-body"> 
    <img src="http://dignite-international.org/wp-content/uploads/2014/12/IMG_4552-e1417793428886.jpg" alt="" />
    <h2>Il semblerait ainsi, que l'on assiste à un camouflage religieux d'oppositions politiques sur fond de guerre d'influence. Comme l'explique si bien le journaliste et blogeur Alexis DIeth sur son blog "Ne vient-on pas d’apprendre qu’un ex-ministre de la jeunesse de l’ancien gouvernement Bozizé clame publiquement être le coordonnateur politique des anti-balaka, et déplore la mise à l’écart de son mouvement par les nouvelles autorités politiques qu’il accuse d’ingratitude? Les comptes rendus journalistiques n’ont-ils pas établi que plusieurs représentants autoproclamés de ces milices dites « chrétiennes » étaient des proches de l'ancien président Bozizé ? Est-il besoin de souligner que les selekas furent eux-aussi phagocytés et clientélisés dès leurs premiers succès par des hommes politiques dissidents et des chefs liés au banditisme social qui avaient le dessein de s’en servir comme instrument de promotion politique personnelle ?"</h2>
    <nav>
      <ul class="pager">
        <li id="preview4-vrai"><a>Previous</a></li>
        <li id="next4-vrai"><a>Question suivante</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="panel panel-default faux2-ter">
  <div class="panel-body">
    <h1 class="text-center wrong">Mauvaise Réponse !</h1>
    <div class="media text-center">
      <%= image_tag "balaka.jpg" =%> 
    </div>
    <h2>Les prémices de cette guerre que certains définissent comme confessionnelle, remontent à la prise de pouvoir par Michel Djotodia à la tête de la Seleka (vu précédemment). Ce groupe rebel s'en est pris à des édifices religieux chrétiens et aux populations chrétiennes. S'en est suivi quelques mois plus tard une vague de représailles violentes et armées contre les populations musulmanes par ceux qui se sont baptisés "anti-balakas". Essayons de comprendre maintenant.</h2><br>
    <ul class="pager">
      <li id="next1"><a>Next</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default faux2-ter2">
  <div class="panel-body">
    <h2>La Centrafrique compte une majorité de confession chrétienne : Protestantisme (51,4%), Catholicisme (28,9%), Islam (10,1%), d'après des chiffres du ministère du Plan et de l'Economie en 2003. <br>
      Comme souvent lorsqu'un conflit se déroule en Afrique, l'aspect éthnique et/ou religieux est tout de suite privilégié pour expliquer le conflit. Or cet angle de vue dissimule d'autre éléments de compréhension.<br>
      Pour qu'il y ait un aspect purement religieux dans un conflit, cela sous-entend que les hautes autorités religieuses prennent part aux violences. Le jeudi 13 février 2014, Mgr Dieudonné Nzapalainga, archevêque de Bangui (où se déroulaient la majeure partie des exactions) a dénoncé la "soif du pouvoir" animant ceux qui poussent les jeunes des milices anti-balaka dans les actuels massacres de musulmans en Centrafrique, réaffirmant qu'on ne peut se dire chrétien et "tuer son frère". L'Eglise évangélique a également condamnée ces exactions :  "L’Eglise condamne toutes les formes de violence et ne peut en aucun cas être associée à de tels actes." <br>
      Ensuite, sur le terrain, en plein milieu des exactions des aides entre musulmans et chrétiens ont été observés. Des musulmans ont trouvé refuge dans les églises et réciproquement des chrétiens dans des mosquées.<br></h2> <div class="media text-center">
      <%= image_tag "archeveque.jpg" =%> 
    </div>  
    *Photo : Mgr Dieudonné Nzapalainga, archevêque de Bangui et Oumar Kobine Layama, président de la Communauté islamique centrafricaine
    <ul class="pager">
      <li id="preview2"><a>Previous</a></li>
      <li id="next2"><a>Next</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default faux2-ter3">
  <div class="panel-body"> 
    <h2>Les "anti-balaka", comme expliqué précedemment, sont une milice constituée à la suite des exactions commises par la Séléka contre les chrétiens. Certains pensent que leur nom signifie « anti-machette » car en langue Sangho, la langue majoritaire en Centrafrique, « balaka » signifie « machette ». Mais dans une interview, un membre de ce groupe a expliqué qu’anti-Balaka s’écrivait en réalité « anti-balles AK ». Référence aux amulettes utilisés par ces combattants pour se protéger des tirs de Kalachnikov. Mettant en lumière leur pratique animiste.</h2><br>
    <ul class="pager">
      <li id="preview3"><a>Previous</a></li>
      <li id="next3"><a>Next</a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default faux2-ter4">
  <div class="panel-body">
  <img src="http://dignite-international.org/wp-content/uploads/2014/12/IMG_4552-e1417793428886.jpg" alt="" /> 
    <h2>Il semblerait ainsi, que l'on assiste à un camouflage religieux d'oppositions politiques sur fond de guerre d'influence. Comme l'explique si bien le journaliste et blogeur Alexis DIeth sur son blog "Ne vient-on pas d’apprendre qu’un ex-ministre de la jeunesse de l’ancien gouvernement Bozizé clame publiquement être le coordonnateur politique des anti-balaka, et déplore la mise à l’écart de son mouvement par les nouvelles autorités politiques qu’il accuse d’ingratitude? Les comptes rendus journalistiques n’ont-ils pas établi que plusieurs représentants autoproclamés de ces milices dites « chrétiennes » étaient des proches de l'ancien président Bozizé ? Est-il besoin de souligner que les selekas furent eux-aussi phagocytés et clientélisés dès leurs premiers succès par des hommes politiques dissidents et des chefs liés au banditisme social qui avaient le dessein de s’en servir comme instrument de promotion politique personnelle ?"</h2>
    <nav>
      <ul class="pager">
        <li id="preview4"><a>Previous</a></li>
        <li id="next4"><a>Question suivante</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Question 3 -->

<div class="panel panel-default question2-bis">
  <div class="panel-body text-center">
    <h1>Le retour au calme ?</h1><br>
    <hr>
    <h1>Comment s'appelle l'actuel Président de transition ?</h1>
    <div class="btn-group">
      <button type="button" class="btn btn-default reponse-bokassa"><h3>Bokassa</h3></button>
      <button type="button" class="btn btn-default reponse-catherine"><h3>Catherine Samba-Panza</h3></button>
      <button type="button" class="btn btn-default reponse-deby"><h3> Idriss Deby-Itno </h3></button>
    </div>
  </div>
</div>

<div class="panel panel-default vrai2-bis">
  <div class="panel-body">
    <h1 class="text-center wright">Bonne réponse !</h1>
    <div class="media">
      <a class="pull-left thumbnail">
        <%= image_tag "samba.jpg" =%> 
      </a>
      <button type="button" class="btn btn-primary suivant2-bis"><h1>Suivant</h1></button> 
    </div>
    <h2>En Janvier 2014, elle est élue par le Conseil national de transition (CNT). Le leader de la Séléka accusé d'avoir laisser-faire les atrocités lors de sa prise de pouvoir en mars 2013 a été écarté. 
      Sa neutralité. C'est semble-t-il l'une des qualités qui ont séduit les parlementaires centrafricains du CNT. La maire de Bangui n'est affiliée à aucun grand parti politique. On ne lui prête pas de liens particuliers avec l'ancien régime de la Séléka.<br>
      Mais il demeure encore des exactions dans la capitale même. Poussant la présidente à pointer du doigt des volontés de "destabilisation".</h2>
    </div>
  </div>

  <div class="panel panel-default faux2-bis">
    <div class="panel-body">
      <h1 class="text-center wrong">Mauvaise Réponse !</h1>
      <div class="media text-center">
        <%= image_tag "samba.jpg" =%> 
      </div>
      <button type="button" class="btn btn-primary suivant2-bis"><h1>Suivant</h1></button>
      <h2>En Janvier 2014, elle est élue par le Conseil national de transition (CNT). Le leader de la Séléka accusé d'avoir laisser-faire les atrocités lors de sa prise de pouvoir en mars 2013 a été écarté. 
        Sa neutralité. C'est semble-t-il l'une des qualités qui ont séduit les parlementaires centrafricains du CNT. La maire de Bangui n'est affiliée à aucun grand parti politique. On ne lui prête pas de liens particuliers avec l'ancien régime de la Séléka.</h2>
      </div>
    </div>


    <div class="panel panel-default question3">
      <div class="panel-body text-center">
        <h1>Retour forcé : l'exode ou la mort</h1><br>
        <hr>
        <h1>Comment s'appellent les réfugiés centrafricains originaires du Tchad ?</h1>
        <div class="btn-group">
          <button type="button" class="btn btn-default reponse-retournes"><h3>Les retournés</h3></button>
          <button type="button" class="btn btn-default reponse-disparus"><h3>Les disparus</h3></button>
          <button type="button" class="btn btn-default reponse-repartis"><h3>Les repartis</h3></button>
        </div>
      </div>
    </div>

    <div class="panel panel-default vrai3">
      <div class="panel-body">
        <h1 class="text-center wright">Bonne réponse !</h1>
        <div class="media text-center">
          <%= image_tag "retournes.jpg" =%> 
          <br>
          <button type="button" class="btn btn-primary suivant3"><h1>Suivant</h1></button> <button type="button" class="btn btn-primary temoignage3"><h1>Témoignage</h1></button> 
        </div>
        <h2>Six mois après le début de l’intervention de la force française en RCA, près de 350.000 personnes ont fui les violences, dont quelques 110.000 ont trouvé refuge au Tchad voisin. Une partie sont d'origine tchadienne par leurs parents ou né là bas. On les appelle les "retournés".<br>
          <br>
          90% des réfugiés présents au Tchad sont des femmes et des enfants. Au mois de janvier 2014, L'UNICEF dénombrait 250 enfants non accompagnés qui ont fui dans la précipitation. Certains voyant leurs propres parents assassinés sous leurs yeux.</h2>
        </div>
      </div>

      <div class="panel panel-default temoignage">
        <div class="panel-body">
          <h1 class="text-center">Témoignage</h1>
          <div class="media">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item">
                      <%= image_tag 'di_enfant.jpg' %>
                    </div>
                    <div class="item active">
                      <%= image_tag 'retournes.jpg' %>
                    </div>
                    <div class="item">
                      <img src="http://dignite-international.org/wp-content/uploads/2014/12/IMG_4120-e1417793234595.jpg" alt="" />
                      <div class="container">
                        <div class="carousel-caption">
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary suivant-temoignage"><h1>Suivant</h1></button> 
          </div>
          <h2>"Nous étions réfugiés chez nous lorsque les anti balakas sont rentrés chez nous. Nous nous sommes précipités pour fuir avec mes parents, mes frères et soeurs. Mon père est tombé entre leurs mains et ils l'ont exécuté. Nous avons réussi à fuir pendant qu'ils s'acharnaient sur lui. Sur la route vers l’aéroport de Bangui à bord du véhicule de l’armée tchadienne, nous avons vu des horreurs.Des hommes et femmes démembrés à coup de machette. Je n'oublierai jamais ces images et elles resteront gravées dans ma mémoire. Nous n’avons même pas eu le temps d’apporter avec nous de quoi manger ou nous changer, tout est resté là-bas. A l'aéroport tout le monde voulait fuir et dans la bousculade, plusieurs personnes se sont séparées de leurs enfants. Plusieurs enfants sont arrivés au Tchad sans être accompagnés." Myriam, 15 ans*<br>
            <br>
            *Témoignage récolté par DIGNITE international, dans le camp de réfugiés de Ndjamena au Tchad</h2>
          </div>
        </div>

        <div class="panel panel-default faux3">
          <div class="panel-body">
            <h1 class="text-center wrong">Mauvaise Réponse !</h1>
            <div class="media text-center">
              <%= image_tag "retournes.jpg" =%><br> 
              <button type="button" class="btn btn-primary suivant3"><h1>Suivant</h1></button> 
              <button type="button" class="btn btn-primary temoignage3"><h1>Témoignage</h1></button> 
            </div>
            <h2>Six mois après le début de l’intervention de la force française en RCA, près de 350.000 personnes ont fui les violences, dont quelques 110.000 ont trouvé refuge au Tchad voisin. Une partie sont d'origine tchadienne par leurs parents ou né là bas. On les appelle les "retournés".<br>
              <br>
              90% des réfugiés présents au Tchad sont des femmes et des enfants. Au mois de janvier 2014, L'UNICEF dénombrait 250 enfants non accompagnés qui ont fui dans la précipitation. Certains voyant leurs propres parents assassinés sous leurs yeux.</h2>
            </div>
          </div>

          <!-- Question 4 -->

          <div class="panel panel-default question4">
            <div class="panel-body text-center">
              <h1>La France en interposition</h1><br>
              <hr>
              <h1>Comment est baptisée la force française d'interposition déployée en Centrafrique ?</h1>
              <div class="btn-group">
                <button type="button" class="btn btn-default reponse-sangaris"><h3>Sangaris</h3></button>
                <button type="button" class="btn btn-default reponse-epervier"><h3>Epervier</h3></button>
                <button type="button" class="btn btn-default reponse-aigle"><h3>Aigle Royal</h3></button>
              </div>
            </div>
          </div>

          <div class="panel panel-default vrai4">
            <div class="panel-body">
              <h1 class="text-center wright">Bonne réponse !</h1>
              <div class="media">
                <a class="pull-left thumbnail">
                  <%= image_tag "sangaris.jpg" =%> 
                </a><br>
                <br>
              </div>
                <button type="button" class="btn btn-primary suivant4"><h1>Suivant</h1></button>
                <button type="button" class="btn btn-primary video4"><h1>Vidéo</h1></button>
              <h2>La force Sangaris comptant 1600 hommes s'était déployée le 5 décembre 2013. Au départ prévue pour une période de quatre à six mois, face à la situation sur le terrain on a très vite admis qu'il faudra au moins un an pour pacifier ce pays profondément déchiré. Depuis le 15 septembre 2014, l'ONU a autorisé le déploiement d'une nouvelle mission des casques bleus (MINUSCA). Ces forces doivent pacifier le pays afin que puissent se tenir les prochaines élections.</h2>
            </div>
          </div>

          <div class="panel panel-default faux4">
            <div class="panel-body">
              <h1 class="text-center wrong">Mauvaise Réponse !</h1>
              <div class="media">
                <a class="pull-left thumbnail">
                  <%= image_tag "sangaris.jpg" =%> 
                </a><br>
                <br>
              </div>
                <button type="button" class="btn btn-primary suivant4"><h1>Suivant</h1></button> 
                <button type="button" class="btn btn-primary video4"><h1>Vidéo</h1></button>
              <h2> La force Sangaris comptant 1600 hommes s'était déployée le 5 décembre 2013. Au départ prévue pour une période de quatre à six mois, face à la situation sur le terrain on a très vite admis qu'il faudra au moins un an pour pacifier ce pays profondément déchiré. Depuis le 15 septembre 2014, l'ONU a autorisé le déploiement d'une nouvelle mission des casques bleus (MINUSCA). Ces forces doivent pacifier le pays afin que puissent se tenir les prochaines élections.</h2>
            </div>
          </div>

          <div class="panel panel-default video-sangaris">
            <div class="panel-body text-center">  
              <iframe width="430" height="242" src="//www.youtube.com/embed/ZfjrSmPr6fc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe><br>
              <button type="button" class="btn btn-default suivant-video4"><h1>Suivant</h1></button>
            </div>
          </div>

          <!-- Question 5 -->

          <div class="panel panel-default centrafrique">
            <div class="panel-body">
              <h1 class="text-center">DIGNITE International au Tchad</h1>
              <div class="media">
                <a class="pull-left thumbnail">
                  <%= image_tag "" =%> 
                </a>
                <button type="button" class="btn btn-primary suivant-end"><h1>SUIVEZ-NOUS</h1></button>   
              </div>
              <h2> Depuis le mois de juin 2014, DIGNITE International est en mission au Tchad auprès des réfugiés centrafricains. Après un état des lieux réalisé sur place, plusieurs programmes d'aides ont été développés.<br>
                Une opération alimentaire et festive a été organisée auprès des enfants du camp de Sarh qui compte 61 orphelins<br>
                300 colis alimentaires ont été distribués pour environs 1500 bénéficiaires au camp de réfugiés de Ndjamena<br>
                Dans le cadre d'un programme de développement agricole au Tchad, un premier cheptel de 40 chèvres et agneaux a été constitué. Suivez notre page Facebook pour suivre le déroulement de ce fabuleux projet
                Programme de parrainage des orphelins (disponible sur notre site internet)
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="item">
                          <%= image_tag 'aid1.jpg' %>
                        </div>
                        <div class="item active">
                          <%= image_tag 'aid2.jpg' %>
                        </div>
                        <div class="item">
                          <img src="http://dignite-international.org/wp-content/uploads/2014/12/IMG_4120-e1417793234595.jpg">
                          <div class="container">
                            <div class="carousel-caption">
                            </div>
                          </div>
                        </div>
                      </div>
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                  </div>
                </div> 
              </h2>
            </div>
          </div>

          <div class="panel panel-default test">
            <div class="panel-body">
            </div>
          </div>






          <div class="container">
            <div class="end">
              <div class="thumbnail">
                <a href="http://www.dignite-international.org" ><%= image_tag "end-up.jpg" =%> </a>
                <div class="media">
                  <a class="media-left" href="https://www.facebook.com/dignite.international"> <%= image_tag "end-down.jpg" =%> </a>
                </div>
              </div>
            </div>
          </div>

          <nav class="navbar navbar-default navbar-fixed-bottom text-center" role="navigation">
            <button type="button" class="btn btn-default btn-start"><h1>Commencer le quizz</h1></button>
          </nav>

          <nav class="text-center">
            <ul class="pagination">
              <li id="q1"><a>Question 1</a></li>
              <li id="q2"><a>Question 2</a></li>
              <li id="q3"><a>Question 3</a></li>
              <li id="q4"><a>Question 4</a></li>
              <li id="q5"><a>Question 5</a></li>
              <li id="q6"><a>Question 6</a></li>
              <li id="q7"><a>Question 7</a></li>
            </ul>
          </nav>



<!-- 
  <div class="media">
    <div class="media-body">
      <button class="start1">Do it!</button>
      <span class="quest1">Are you sure? (type 'yes' if you are) </span>
      <div class="rep1">
        <form>
          <input type="text"  value="as;ldkfjalsdf">
        </form>
      </div>
      <p id="rep1" style="display:none;">I'm hidden...</p>
    </div>
  </div> -->