<div class="btn-wahab">
  <p><button>Le wahabisme et les Frères Musulmans</button></p>
</div>


<div class="btn-start">
  <p><button>Commencer l'animation</button></p>
</div>

<div id="ibn-saoud">
  <p><button>Le roi Ibn Saoud</button></p>
</div>
<div id="faycal">
  <p><button>Le roi Fayçal</button></p>
</div>

<div class="faycal-bis row text-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "faycal.jpg" %>
      <div class="caption">
        <h3>Roi Fayçal</h3>
        <p></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div id="khaled">
  <p><button>Le roi Khaled</button></p>
</div>
<div class="khaled-bis row text-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "faycal2.jpg" %>
      <div class="caption">
        <h3>Roi Fayçal</h3>
        <p>Fayçal est fait roi d’Arabie Saoudite le 2 novembre 1964. À son arrivée au pouvoir, l'Arabie saoudite était largement considérée comme un « empire patriarcal ». Encore au stade féodal, les affaires se traitaient entre chefs de tribus. C’est sous son règne que l’Arabie est passée d’une condition de mosaïque de tribus à celle d’un État fort et centralisé.
          Le 25 mars 1975, Fayçal reçoit la visite de son jeune neveu, le prince Fayçal ben Moussaid. Âgé alors de vingt-six ans, le jeune homme parvient à entrer dans le palais avec son arme. Conduit devant le roi aux côtés d'une délégation koweïtienne, il attend d'être assez proche de son oncle pour sortir son revolver, et tirer trois balles à bout portant, dont une qui le touche à la tête.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div id="fahd">
  <p><button>Le roi Fahd</button></p>
</div>
<div class="fahd-bis row text-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "fahd2.jpg" %>
      <div class="caption">
        <h3>Roi Fahd</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div id="abdallah">
  <p><button>Le roi Abdallah</button></p>
</div>
<div class="abdallah-bis row text-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "abdAllah.jpg" %>
      <div class="caption">
        <h3>Roi Abdallah</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div id="mouqrin">
  <p><button>Mouqrin</button></p>
</div>
<div class="mouqrin-bis row text-center">
  <div class="col-sm-10 col-md-7">
    <div class="thumbnail">
      <%= image_tag "fahd.jpg" %>
      <div class="caption">
        <h3>Mouqrin</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div id="salman">
  <p><button>Salman</button></p>
</div>

<div class="salman-bis row text-center">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "faycal.jpg" %>
      <div class="caption">
        <h3>Salman</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div class="is-bis row text-center col-xs-7 col-sm-7 col-md-5 col-lg-7">
  <div class="thumbnail">
    <%= image_tag "ibnsaoud.jpg" %>
    <div class="caption">
      <h3> Roi Ibn Saoud</h3>
      <p>C'est le 23 septembre 1932, que Abdelaziz ben Abderrahmane Al Saoud, dit Ibn Séoud, réunit ses conquêtes en un État unique: le royaume d'Arabie saoudite. Les guerres ayant permis l’accession au pouvoir d’Ibn Saoud ont fait 500 000 morts entre 1901 et 1932 ( Laurent Murawiec, « L’Arabie saoudite : un business familial », L’Histoire, no 286,‎ avril 2004, p. 18-19 ).

      À partir de 1938, la prospérité du royaume est liée à l'exploitation du pétrole et fait de cet État l'un des plus puissants du Moyen-Orient. En 1945, le roi Abd al-Aziz conclut avec le président Franklin D. Roosevelt un accord stratégique motivé par la géopolitique du pétrole, qui plaça l'Arabie saoudite dans l'orbite économique et sous la protection militaire américaine, l’Arabie saoudite ayant cédé l’exploitation de ses ressources pétrolières aux États-Unis.</p>
      <p><a href="#" class="btn btn-primary" role="button"></a> <a href="#" class="btn btn-default" role="button">Button</a></p>
    </div>
  </div>
</div>
</div>

<div class="media">
  <div class="media-body">
    <button class="start1">Do it!</button>
    <span class="quest1">Are you sure? (type 'yes' if you are) </span>
    <div class="rep1">
      <form>
        <input type="text"  value="as;ldkfjalsdf">
      </form>
    </div>
    <p id="rep1" style="display:none;">I'm hidden...</p>
  </div>
</div>