<div class="container">
  <div class="row">
<div class=" col-md-12 col-sm-12 col -xs-12 panel panel-default intro">
  <div class="panel-body text-center">
    <p>"L’effet conjugué d’un Etat prédateur, de la criminalité et de l’extrême pauvreté aboutit à des cycles de violence, en incitant les factions politiques rivales à entrer en rébellion" Crisis Group, 2010, in De dangereuses petites pierres : Les diamants en République centrafricaine</p>
  </div>
</div>
</div>

<div class="btn-start">
  <p><button><h1>Commencer le quizz</h1></button></p>
</div>

<!-- /*Question 1*/ -->

<div class="panel panel-default question1">
  <div class="panel-body text-center">
    <h1> Coups d'Etat successifs</h1>
    <h3>Comment s'appellait le dernier Président de la République Centrafricaine ?</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-default reponse-bongo"><h3>Omar Bongo</h3></button>
      <button type="button" class="btn btn-default reponse-patasse"><h3>Ange-Felix Patassé</h3></button>
      <button type="button" class="btn btn-default reponse-bozize"><h3>François Bozizé</h3></button>
    </div>
  </div>
</div>

<div class="panel panel-default vrai1">
  <div class="panel-body text-center">
    <h1 class="text-center">Bonne réponse !</h1>
    <div class="media text-center">
        <%= image_tag "bozize.jpg" =%><br>
      <button type="button" class="btn btn-default suivant1"><h1>Suivant</h1></button> 
      <button type="button" class="btn btn-default video1"><h1>Vidéo</h1></button> 
    </div>
    <h2>Après une nouvelle série de troubles et malgré l'intervention de la communauté internationale (MINURCA), le 15 mars 2003, le général François Bozizé réussit, avec l'aide de militaires français(deux avions de chasse de l'armée française survolaient Bangui pour filmer les positions des loyalistes pour le compte de Bozizé)[réf. nécessaire] et de miliciens tchadiens (dont une bonne partie va rester avec lui après son installation au pouvoir), un nouveau coup d'État et renverse le président Patassé.</h2>
  </div>
</div>

<div class="panel panel-default faux1">
  <div class="panel-body">
    <h1 class="text-center">Mauvaise Réponse !</h1>
    <div class="panel-body">
      <div class="media text-center">
          <%= image_tag "bozize.jpg" =%> 
        <button type="button" class="btn btn-default suivant1"><h1>Suivant</h1></button> 
        <button type="button" class="btn btn-default video1"><h1>Voir vidéo</h1></button> 
      </div>
      <h2>Après une nouvelle série de troubles et malgré l'intervention de la communauté internationale (MINURCA), le 15 mars 2003, le général François Bozizé réussit, avec l'aide de militaires français(deux avions de chasse de l'armée française survolaient Bangui pour filmer les positions des loyalistes pour le compte de Bozizé)[réf. nécessaire] et de miliciens tchadiens (dont une bonne partie va rester avec lui après son installation au pouvoir), un nouveau coup d'État et renverse le président Patassé.</h2>
    </div>
  </div>
</div>

<div class="panel panel-default video-bozize">
  <div class="panel-body text-center">  
    <iframe width='460' height='259' frameborder='0' marginheight ='0' marginwidth='0' scrolling ='no' src='http://player.ina.fr/player/embed/2250800001047/1/1b0bd203fbcd702f9bc9b10ac3d0fc21/460/259/0/ff6600' ></iframe><br><button type="button" class="btn btn-default suivant-video1"><h1>Suivant</h1></button>
  </div>
</div>

  <!-- Question 2 -->

  <div class="panel panel-default question2">
    <div class="panel-body text-center">
      <h1>La destabilisation de l'extérieur</h1>
      <h3>Comment s'appelle le groupe rebel qui a renversé le Président Bozizé :</h3>
      <div class="btn-group">
        <button type="button" class="btn btn-default reponse-seleka"><h3>La Seleka</h3></button>
        <button type="button" class="btn btn-default reponse-ms13"><h3>Le MS 13</h3></button>
        <button type="button" class="btn btn-default reponse-bozize"><h3> Les Pachtouns </h3></button>
      </div>
    </div>
  </div>

  <div class="panel panel-default vrai2">
    <div class="panel-body">
      <h1 class="text-center">Bonne réponse !</h1>
      <div class="media text-center">
          <%= image_tag "seleka-leader.jpg" =%> 
        <button type="button" class="btn btn-default suivant2"><h1>Suivant</h1></button> 
      </div>
      <h2>Le 24 mars 2013, les rebelles de la coalition Seleka s'emparent de Bangui et Bozizé s'enfuit. Michel Djotodia s'auto-proclame président de la République centrafricaine. Très vite des exactions contre les chrétiens et leurs lieux de cultes ont lieu. Cette connotation pseudo-religieuse de leurs méfaits s’explique par plusieurs éléments. Les rebels centrafricains qui ont créé la Séléka sont peu nombreux. Ils ont donc noué des alliances avec des hommes issus des rébellions du Darfour marqués par une idéologie violente à l'encontre de tout ce qui diffère de leur vision, et pas uniquement religieuse.</h2>
    </div>
  </div>

  <div class="panel panel-default faux2">
    <div class="panel-body">
      <h1 class="text-center">Mauvaise Réponse !</h1>
      <div class="media">
      <a class="pull-left thumbnail">
        <%= image_tag "seleka-leader.jpg" =%> 
      </a>
    </div>
<button type="button" class="btn btn-default suivant2"><h1>Suivant</h1></button>
      <h2>Le 24 mars 2013, les rebelles de la coalition Seleka s'emparent de Bangui et Bozizé s'enfuit. Michel Djotodia s'auto-proclame président de la République centrafricaine. Très vite des exactions contre les chrétiens et leurs lieux de cultes ont lieu. Cette connotation pseudo-religieuse de leurs méfaits s’explique par plusieurs éléments. Les rebels centrafricains qui ont créé la Séléka sont peu nombreux. Ils ont donc noué des alliances avec des hommes issus des rébellions du Darfour marqués par une idéologie violente à l'encontre de tout ce qui diffère de leur vision, et pas uniquement religieuse.</h2>
    </div>
  </div>

  <!-- Question 3 -->

    <div class="panel panel-default question2-bis">
    <div class="panel-body text-center">
      <h1>Le retour au calme ?</h1>
      <h3>Comment s'appelle l'actuel Président de transition ?</h3>
      <div class="btn-group">
        <button type="button" class="btn btn-default reponse-bokassa"><h3>Bokassa</h3></button>
        <button type="button" class="btn btn-default reponse-catherine"><h3>Catherine Samba-Panza</h3></button>
        <button type="button" class="btn btn-default reponse-deby"><h3> Idriss Deby-Itno </h3></button>
      </div>
    </div>
  </div>

  <div class="panel panel-default vrai2-bis">
    <div class="panel-body">
      <h1 class="text-center">Bonne réponse !</h1>
      <div class="media">
        <a class="pull-left thumbnail">
          <%= image_tag "samba.jpg" =%> 
        </a>
        <button type="button" class="btn btn-primary suivant2-bis"><h1>Suivant</h1></button> 
      </div>
      <h2>En Janvier 2014, elle est élue par le Conseil national de transition (CNT). Le leader de la Séléka accusé d'avoir laisser-faire les atrocités lors de sa prise de pouvoir en mars 2013 a été écarté. 
        Sa neutralité. C'est semble-t-il l'une des qualités qui ont séduit les parlementaires centrafricains du CNT. La maire de Bangui n'est affiliée à aucun grand parti politique. On ne lui prête pas de liens particuliers avec l'ancien régime de la Séléka.<br>
        Mais il demeure encore des exactions dans la capitale même. Poussant la présidente à pointer du doigt des volontés de "destabilisation".</h2>
    </div>
  </div>

  <div class="panel panel-default faux2-bis">
    <div class="panel-body">
      <h1 class="text-center">Mauvaise Réponse !</h1>
      <div class="media text-center">
        <%= image_tag "samba.jpg" =%> 
    </div>
      <button type="button" class="btn btn-primary suivant2-bis"><h1>Suivant</h1></button>
      <h2>En Janvier 2014, elle est élue par le Conseil national de transition (CNT). Le leader de la Séléka accusé d'avoir laisser-faire les atrocités lors de sa prise de pouvoir en mars 2013 a été écarté. 
        Sa neutralité. C'est semble-t-il l'une des qualités qui ont séduit les parlementaires centrafricains du CNT. La maire de Bangui n'est affiliée à aucun grand parti politique. On ne lui prête pas de liens particuliers avec l'ancien régime de la Séléka.</h2>
    </div>
  </div>




  <div class="panel panel-default question3">
    <div class="panel-body text-center">
      <h1>Retour forcé : l'exode ou la mort</h1>
      <h3>Comment s'appellent les réfugiés centrafricains originaires du Tchad ?</h3>
      <div class="btn-group">
        <button type="button" class="btn btn-default reponse-retournes"><h3>Les retournés</h3></button>
        <button type="button" class="btn btn-default reponse-disparus"><h3>Les disparus</h3></button>
        <button type="button" class="btn btn-default reponse-repartis"><h3>Les repartis</h3></button>
      </div>
    </div>
  </div>

  <div class="panel panel-default vrai3">
    <div class="panel-body">
      <h1 class="text-center">Bonne réponse !</h1>
      <div class="media text-center">
          <%= image_tag "retournes.jpg" =%> 
        <br>
        <button type="button" class="btn btn-primary suivant3"><h1>Suivant</h1></button> <button type="button" class="btn btn-primary temoignage3"><h1>Témoignage</h1></button> 
      </div>
      <h2>Six mois après le début de l’intervention de la force Sangaris en RCA, près de 350.000 personnes ont fui les violences, dont quelque 110.000 ont trouvé refuge au Tchad voisin. 90% de ces réfugiés sont des femmes et des enfants. Au mois de janvier 2014, L'UNICEF dénombrait 250 enfants non accompagnés qui ont fui dans la précipitation. Certains voyant leurs propres parents assassinés sous leurs yeux.</h2>
    </div>
  </div>

<div class="panel panel-default temoignage">
    <div class="panel-body">
      <h2 class="text-center">Témoignage</h2>
      <div class="media">
          <%= image_tag "di_enfant.jpg" =%> <br>
        <button type="button" class="btn btn-primary suivant-temoignage"><h1>Suivant</h1></button> 
      </div>
      <h2>"Nous étions réfugiés chez nous lorsque les anti balakas sont rentrés chez nous. Nous nous sommes précipités pour fuir avec mes parents, mes frères et soeurs. Mon père est tombé entre leurs mains et ils l'ont exécuté. Nous avons réussi à fuir pendant qu'ils s'acharnaient sur lui. Sur la route vers l’aéroport de Bangui à bord du véhicule de l’armée tchadienne, nous avons vu des horreurs.Des hommes et femmes démembrés à coup de machette. Je n'oublierai jamais ces images et elles resteront gravées dans ma mémoire. Nous n’avons même pas eu le temps d’apporter avec nous de quoi manger ou nous changer, tout est resté là-bas. A l'aéroport tout le monde voulait fuir et dans la bousculade, plusieurs personnes se sont séparées de leurs enfants. Plusieurs enfants sont arrivés au Tchad sans être accompagnés." Myriam, 15 ans</h2>
    </div>
  </div>

  <div class="panel panel-default faux3">
    <div class="panel-body">
      <h1 class="text-center">Mauvaise Réponse !</h1>
      <div class="media text-center">
          <%= image_tag "retournes.jpg" =%> 
        <button type="button" class="btn btn-primary suivant3"><h1>Suivant</h1></button><br> 
        <button type="button" class="btn btn-primary temoignage3"><h1>Témoignage</h1></button> 
      </div>
      <h2>Six mois après le début de l’intervention de la force Sangaris en RCA, près de 350.000 personnes ont fui les violences, dont quelque 100.000 ont trouvé refuge au Tchad voisin. 90% de ces réfugiés sont des femmes et des enfants. Au mois de janvier 2014, L'UNICEF dénombrait 250 enfants non accompagnés qui ont fui dans la précipitation. Certains voyant leurs propres parents assassinés sous leurs yeux.</h2>
    </div>
  </div>

  <!-- Question 4 -->

  <div class="panel panel-default question4">
    <div class="panel-body text-center">
      <h1>La France en interposition</h1>
    <h3>Comment est baptisée la force française d'interposition déployée en Centrafrique ?</h3>
      <div class="btn-group">
        <button type="button" class="btn btn-default reponse-sangaris"><h3>Sangaris</h3></button>
        <button type="button" class="btn btn-default reponse-epervier"><h3>Epervier</h3></button>
        <button type="button" class="btn btn-default reponse-aigle"><h3>Aigle Royal</h3></button>
      </div>
    </div>
  </div>

  <div class="panel panel-default vrai4">
    <div class="panel-body">
      <h1 class="text-center">Bonne réponse !</h1>
      <div class="media">
        <a class="pull-left thumbnail">
          <%= image_tag "sangaris.jpg" =%> 
        </a>
        <button type="button" class="btn btn-primary suivant4"><h1>Suivant</h1></button>
        <button type="button" class="btn btn-primary video4"><h1>Vidéo</h1></button>  
      </div>
      <h2> La force Sangaris comptant 1600 hommes s'était déployée le 5 décembre 2013. Au départ prévue pour une période de quatre à six mois, face à la situation sur le terrain on a très vite admis qu'il faudra au moins un an pour pacifier ce pays profondément déchiré. Depuis le 15 septembre 2014, l'ONU a autorisé le déploiement de casques bleus (MINUSCA). Ces forces doivent pacifier le pays afin que puissent se tenir les prochaines élections.</h2>
    </div>
  </div>

  <div class="panel panel-default faux4">
    <div class="panel-body">
      <h1 class="text-center">Mauvaise Réponse !</h1>
      <div class="media">
        <a class="pull-left thumbnail">
          <%= image_tag "sangaris.jpg" =%> 
        </a>
        <button type="button" class="btn btn-primary suivant4"><h1>Suivant</h1></button> 
         <button type="button" class="btn btn-primary video4"><h1>Vidéo</h1></button> 
      </div>
      <h2> La force Sangaris comptant 1600 hommes s'était déployée le 5 décembre 2013. Au départ prévue pour une période de quatre à six mois, face à la situation sur le terrain on a très vite admis qu'il faudra au moins un an pour pacifier ce pays profondément déchiré. Depuis le 15 septembre 2014, l'ONU a autorisé le déploiement de casques bleus (MINUSCA). Ces forces doivent pacifier le pays afin que puissent se tenir les prochaines élections.</h2>
    </div>
  </div>

  <div class="panel panel-default video-sangaris">
  <div class="panel-body text-center">  
      <iframe width="430" height="242" src="//www.youtube.com/embed/ZfjrSmPr6fc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe><br>
      <button type="button" class="btn btn-default suivant-video4"><h1>Suivant</h1></button>
  </div>
</div>

  <!-- Question 5 -->

  <div class="panel panel-default question5">
    <div class="panel-body text-center">
      <h1>Un pays voué à l'instabilité ?</h1>
    <h3>De quand date l'indépendance en Centrafrique ?</h3>
      <div class="btn-group">
        <button type="button" class="btn btn-default reponse-1960"><h3>1960</h3></button>
        <button type="button" class="btn btn-default reponse-1956"><h3>1956</h3></button>
        <button type="button" class="btn btn-default reponse-1962"><h3>1962</h3></button>
      </div>
    </div>
  </div>

  <div class="panel panel-default faux5">
    <div class="panel-body">
      <h1 class="text-center">Mauvaise Réponse !</h1>
      <div class="media">
        <a class="pull-left thumbnail">
          <%= image_tag "" =%> 
        </a>
        <button type="button" class="btn btn-primary suivant5"><h1>Suivant</h1></button> 
         <button type="button" class="btn btn-primary video5"><h1>Vidéo</h1></button> 
      </div>
      <h2> La Centrafrique est un peu plus grande que la France, au milieu du continent africain. Cette ancienne colonie française est en crise chronique depuis son indépendance en 1960, la majeure partie du pays étant en proie depuis des années à des bandes armées. Ce pays couvert de forêt aurait pu être la Suisse de l’Afrique. Entre or, uranium, pétroles et autres ressources, la Centrafrique est un pays potentiellement très riche et dont les gisements représentent un enjeu dans le conflit en cours, surtout les diamants. Dès la colonisation, les autorités locales françaises ont exploité ce territoire comme une entreprise commerciale. « Elles l’ont divisé et ont octroyé des concessions exclusives à des compagnies françaises avec lesquelles elles travaillaient main dans la main pour faire du profit, explique l’International Crisis Group dans un rapport intitulé De dangereuses petites pierres : les diamants en République centrafricaine, publié en 2010</h2>
    </div>
  </div>

  <div class="panel panel-default vrai5">
    <div class="panel-body">
      <h1 class="text-center">Bonne Réponse !</h1>
      <div class="media">
        <a class="pull-left thumbnail">
          <%= image_tag "" =%> 
        </a>
        <button type="button" class="btn btn-primary suivant5"><h1>Suivant</h1></button> 
         <button type="button" class="btn btn-primary video5"><h1>Vidéo</h1></button> 
      </div>
      <h2> La Centrafrique est un peu plus grande que la France, au milieu du continent africain. Cette ancienne colonie française est en crise chronique depuis son indépendance en 1960, la majeure partie du pays étant en proie depuis des années à des bandes armées. Ce pays couvert de forêt aurait pu être la Suisse de l’Afrique. Entre or, uranium, pétroles et autres ressources, la Centrafrique est un pays potentiellement très riche et dont les gisements représentent un enjeu dans le conflit en cours, surtout les diamants. Dès la colonisation, les autorités locales françaises ont exploité ce territoire comme une entreprise commerciale. « Elles l’ont divisé et ont octroyé des concessions exclusives à des compagnies françaises avec lesquelles elles travaillaient main dans la main pour faire du profit, explique l’International Crisis Group dans un rapport intitulé "De dangereuses petites pierres : les diamants en République centrafricaine", publié en 2010</h2>
    </div>
  </div>

  <div class="panel panel-default video-richesse">
  <div class="panel-body text-center">  
    <iframe width='460' height='259' frameborder='0' marginheight ='0' marginwidth='0' scrolling ='no' src='http://player.ina.fr/player/embed/CAB7901536101/1/1b0bd203fbcd702f9bc9b10ac3d0fc21/460/259/0/08db52' ></iframe><br><button type="button" class="btn btn-default suivant-video5"><h1>Suivant</h1></button>
  </div>
</div>

</div>



<!-- 
  <div class="media">
    <div class="media-body">
      <button class="start1">Do it!</button>
      <span class="quest1">Are you sure? (type 'yes' if you are) </span>
      <div class="rep1">
        <form>
          <input type="text"  value="as;ldkfjalsdf">
        </form>
      </div>
      <p id="rep1" style="display:none;">I'm hidden...</p>
    </div>
  </div> -->